# macos
*.DS_Store

# intellij project files
**/*.idea
!**/*.idea/google-java-format.xml
*.iml

.env

# generated
**/target

# eclipse/vscode
**/.project
**/.classpath
**/classpath-data.json
**/.settings
**/.factorypath

# logfiles
**/*.log
**/*.log.*
**/import

std-dive-logger-backend/std-dive-logger-model/src/test/resources/felice_2025_10_18.xml
std-dive-logger-backend/std-dive-logger-import-service/src/test/resources/35 Malapascua Gato Island Tunnel.fit
std-dive-logger-backend/std-dive-logger-import-service/src/test/resources/36 Malapascua Bugtong Bato.fit
std-dive-logger-backend/std-dive-logger-import-service/src/test/resources/51 Exmouth Lighthouse Reef Site Blizzard Ridge South.fit
std-dive-logger-backend/std-dive-logger-import-service/src/test/resources/2025-11-29.db
